{% extends 'base.html' %}

{% block content %}
<p> This is a test of chartJS</p>


  
  <div class="row content">
    
    <div class="col-sm-6">
      <canvas id="pie-chart" style="width: 50px; height: 25px"></canvas>
      
  
    </div>
    <div class="col-sm-6">
       <canvas id="bar-chart" width="800" height="450"></canvas>
  
    </div>
  </div>
  











<script>

    // Pie Chart
   new Chart(document.getElementById("pie-chart").getContext('2d'), {
    type: 'pie',
    data: {
      labels: {{ labels|safe }},
      datasets: [{
        label: "{{ title }}",
        backgroundColor: {{ backgroundColor|safe }},
        data: {{ data|safe }},
      }]
    },
    options: {
      title: {
        display: true,
        responsive: true,
        maintainAspectRatio: false,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});



//Bar chart
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: {{ Date|safe }},
      datasets: [
        {
          label: "Transaction",
          backgroundColor: "#3e95cd",
          data: {{ srv_time|safe }}
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});



</script>


{% endblock content %}